* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(110, 91, 91)
}
h1 {
    width: 200px;
    display: block;
    margin: 100px auto 20px;
}
.container {
    width: 490px;
    height: 600px;
    margin: 35px auto;
    background-color: #1d2422;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: auto auto auto auto; 
    grid-template-rows: auto auto auto auto auto;
    border-radius: 20px;
    
    box-shadow: 0px 5px 1px 18px rgba(0,0,0,0.75);
    
}
.operator {
    background-color: #93a1c3;
}
.numbers,
.operator {
    margin: 10px;
    cursor: pointer;
    font-size: large;
}
.screen {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    /* background-color: rgb(23, 187, 146); */
    border-radius: 20px;
    margin: 15px;
    border: 1px solid skyblue;
}

button {
    border-radius: 50%;
    margin: 5px;
    box-shadow: none;
}
.display1, 
.display2 {
    /* border: 1px solid red; */
    height: 50%;
    width: 100%;
    border-radius: 20px;
    text-align: right;
    border:none;
    padding-right: 10px;
    background-color: #93a1c3;
    color: white;
    font-size: large;
    
}
.display1 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.display2 {border-top-left-radius: 0;
    border-top-right-radius: 0;
}